.titulo-admin {
    color: #006AFF;
    font-size: 2.5rem;
}
.titulo-admin a {
    text-decoration: none;
}
.titulo-admin i.fa-sync-alt {
    font-size: 1.2rem;
    color: green;
}
.titulo-admin i.fa-sign-out-alt {
    font-size: 1.2rem;
    color: red;
}
.contenedor {
    display: flex;
    justify-content: space-around;
}
.contenedor h2 {
    color: #006AFF;
}
.contenedor > div {
    border: 3px solid #898F9C;
    border-radius: 15px;
    padding: 15px;
}
.contenedor-form label {
    color: #006AFF;
    font-size: 1.1rem;
    display: block;
    margin: 0 0 10px;
}

.contenedor-form input {
    color: #006AFF;
    font-size: 1rem;
    padding: 5px 1.5%;
    margin: 0 0 10px;
    width: 97%;
    border: 0.5px solid #898F9C;
    border-radius: 5px;
}
.contenedor-form textarea {
    color: #006AFF;
    font-size: 1rem;
    padding: 5px 1.5%;
    margin: 0 0 10px;
    width: 97%;
    border: 0.5px solid #898F9C;
    border-radius: 5px;
    resize: none;
}
.contenedor-form {
    flex-grow: 1;
    min-width: 25%;
    height: 70vh;
}
.btn-form-container {
    text-align: right;
}
.btn-form-container button {
    background: #006AFF;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 1.1rem;
}
.btn-form-container button.reset {
    background: #FFF;
    border: 1px solid #006AFF;
    color: #006AFF;
}
.contenedor-tabla {
    flex-grow: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;
}

.table {
    width: 100%;
    border: 1px solid #898F9C;
    border-collapse: collapse;
}
.table th {
    background: #898F9C;
    border: 1px solid black;
    padding: 3px;
    color: white;
}
.table td {
    border: 1px solid black;
    padding: 3px;
    color: #006AFF;
    font-size: 0.8rem;
}
.btn-eliminar {
    background: white;
    color: red;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-editar {
    background: white;
    color: blue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.alert-msg {
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-block;
}
.alert-error {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-block;
}