<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
    <script src="https://kit.fontawesome.com/10752ea731.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Título del Sitio Web</h1>
    <div>Contenido</div>
    <!-- Componente del Chat. -->
    <div>
        <div class="caja-chatbot">
            <span class="texto-chatbot">
                Abrir Chat
            </span>
        </div>
        <div class="cuadro-chatbot in">
            <h2>
                Chatea con Nosotros!
                <a href="{{url_for('admin')}}" target="_blank">
                    <i class="fas fa-cog"></i>
                </a>

            </h2>
            <div class="mensajes-chatbot" id="div-mensajes-chat">
                <div class="mensaje-chat pc">
                    Hola. ¿En qué te puedo Ayudar?
                </div>
            </div>
            <div class="caja-entrada">
                <input class="entrada-chatbot" type="text" placeholder="Ingrese su mensaje Aquí" id="input-chat">
                <button class="enviar-chatbot" type="button" id="boton-chat"><span>Enviar</span></button>
            </div>
        </div>
    </div>

</body>
</html>